.banner
  .container
    .text-center
      h1 Mixing Reinvented For Your Privacy
      p We offer the best privacy you can get from a mixer.
      hr.short.bg-white.my-5
      a.btn.btn-primary.btn-lg(href="/mixings/start") Start Mixing
      span.mx-3 or
      a(href="#reset-section") Reset your previous token
