.widget
  .widget-body
    p
      | Clearnet address:<br>
      a(href="/") nanomixer.com
    p
      | Darknet address:<br>
      a(href=`http://${onion}`) #{onion}
    p
      | Email:<br>
      a(href="mailto:nanomixer@protonmail.com") nanomixer@protonmail.com
