include /mixins/feature

.section(id="features-section")
  .container
    .section-header
      h3 Why choose Nano Mixer?
    .section-body
      .row.mb-3
        .col-md-3
          +feature("Full control over mixing", "/images/icon1.png")
            | More random than predefined mixing procedure
        .col-md-3
          +feature("Outputs are fungible", "/images/icon2.png")
            | Each chip is exactly the same
        .col-md-3
          +feature("Outputs can be used instantly", "/images/icon6.png")
            | You withdraw private keys
        .col-md-3
          +feature("Optional provably-fair betting", "/images/icon4.png")
            | Mixer's output may be higher than input
      .row
        .col-md-3
          +feature("Full control over mixing", "/images/icon3.png")
            | More random than predefined mixing procedure
        .col-md-3
          +feature("Outputs are fungible", "/images/icon5.png")
            | Each chip is exactly the same
        .col-md-3
          +feature("Outputs can be used instantly", "/images/icon8.png")
            | You withdraw private keys
        .col-md-3
          +feature("Optional provably-fair betting", "/images/icon9.png")
            | Mixer's output may be higher than input
