footer.main-footer
  .container
    .footer-brand
      img(src="/images/logo-white.svg" height="25")
    .footer-widgets
      include footer-widgets-row
    .footer-copyright
      | &copy; #{new Date().getFullYear()} Nano Mixer
