nav.navbar.navbar-expand-lg.navbar-light
  .container
    a.navbar-brand(href="/")
      img(src="/images/logo.svg" height="25px")
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#main-navbar-content")
      span.navbar-toggler-icon
    #main-navbar-content.collapse.navbar-collapse
      include navbar-content
