li.nav-item.active
  a.nav-link(href='/') Home

li.nav-item.active
  a.nav-link(href='/mixings/start') Start Mixing

li.nav-item.active
  a.nav-link(href='/faq') FAQ

li.nav-item.active
  a.nav-link(href='/contact') Contact
