form(method="post", action="/mixings/reset")
  .input-group
    input.form-control.form-control-lg(type="text", name="token", placeholder="Type your session token here to reset")
    .input-group-append
      button.btn.btn-primary.btn-lg(type="submit") Reset Session
