.widget
  .widget-header
    | Support
  .widget-body
    p
      | If you need to restore session,
      | <b>please provide your deposit address or used voucher code</b>.
    p
      | If session expired (168h) or was destroyed manually, we cannot help you.
