extends /layouts/base

block vars
  - var bodyClass = 'home'
  - var title = 'A Nano tumbler'

block content
  include includes/banner
  include includes/reset-section
  include includes/features-section
